# pivot table

In [31]:
import os
import pandas as pd
import numpy as np
os.chdir("D:\picture\视频\数据透视表")
data = pd.read_excel("全国普通高等学校名单.xlsx")

In [32]:
data.head()

   序号    学校名称       学校标识码 主管部门  所在地 办学层次   备注
0   1    北京大学  4111010001  教育部  北京市   本科  NaN
1   2  中国人民大学  4111010002  教育部  北京市   本科  NaN
2   3    清华大学  4111010003  教育部  北京市   本科  NaN
3   4  北京交通大学  4111010004  教育部  北京市   本科  NaN
4   5  北京工业大学  4111010005  北京市  北京市   本科  NaN

## 一维频率统计

In [33]:
data_zgbm = pd.pivot_table(data, values="学校名称", index=["主管部门"],aggfunc='count')#np.sum// np.std // np.mean

In [34]:
data_zgbm.head()

           学校名称
主管部门
上海市          33
上海市 中国科学院     1
上海市教委        20
中华全国总工会       1
中华妇女联合会       1

In [35]:
data_zgbm = pd.pivot_table(data, values="学校名称", index=["主管部门","所在地"],aggfunc='count')

In [36]:
data_zgbm.tail()

               学校名称
主管部门    所在地
黑龙江省    黑河市       1
        齐齐哈尔市     4
黑龙江省教育厅 佳木斯市      1
        哈尔滨市     15
        齐齐哈尔市     2

## 二维频率统计

In [37]:
data_zgbm = pd.pivot_table(data, values="学校名称", index=["主管部门"],columns=['办学层次'],aggfunc='count')

In [38]:
data_zgbm.head()

办学层次         专科    本科
主管部门
上海市        12.0  21.0
上海市 中国科学院   NaN   1.0
上海市教委      12.0   8.0
中华全国总工会     NaN   1.0
中华妇女联合会     NaN   1.0

In [39]:
data_zgbm.to_excel("data_new.xlsx")

# melt

如果说pivot是将单元格内容提取到列名和行名中去，melt则可以将列名整合到单元格里去。有点绕，但是很实用

In [ ]:
pandas.melt 使用参数：

pandas.melt(frame, id_vars=None, value_vars=None, var_name=None, value_name='value', col_level=None)
参数解释：

frame:要处理的数据集。

id_vars:不需要被转换的列名。

value_vars:需要转换的列名，如果剩下的列全部都要转换，就不用写了。

var_name和value_name是自定义设置对应的列名。

col_level :如果列是MultiIndex，则使用此级别。
————————————————
版权声明：本文为CSDN博主「魔术师_」的原创文章，遵循CC 4.0 BY-SA版权协议，转载请附上原文出处链接及本声明。
原文链接：https://blog.csdn.net/maymay_/article/details/80039677